.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size:16px;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 35px;
	}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed h4{
	color: white;
	font-size: 16px;
}


.footer-distributed ul,li {
	font-size: 14px;color: white;    list-style-type: none;
}


/* Footer left */

.footer-distributed .footer-left{
	width: 33%;
}



/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size:36px;
	margin: 0;
}
.footer-distributed h3:before{
	content: " ";
  
  
 
  float: left;
  position: relative;
  top: 30px;
  
 
  background: url(img/place-pin-ico.png) -3px -3px #ddd;
 
  display: block;
  height: 25px;
  width: 25px;
}
}
.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* BOTTOM FOOTER */



.clearfix::after{
	content: "";
	display: table;
	clear: both;
}


.footer-bottom{
	position: relative;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background: #333;
}

.column-1{
	width: 50%;
	height: 100%;
	float: left;
}

.column-1 p{
	color: #ccc;
    font-size: 12px;
    float: left;
	margin-left: 30px;
    margin-top: 25px;
} 

.column-2{
	width: 50%;
	height: 100%;
	float: right;
}


.footer-icons1 a{
	display: inline-block;
	float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 10px;
    
}


.footer-top{
	position: relative;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	background: #FFF;

}

.column{
	width: 100%;
	height: 100%;
	text-align: center;
    padding-top: 20px;
}

.footer-icons-top a{
	display: inline-block;    
    cursor: pointer;
    font-size: 60px;
    color: #ffffff;
 }
.footer-icons-top h2{
	padding-top: 20px;
    font-size: 16px;
    color: #d8d8d8;
    font-weight: normal;
}
.footer-icons-top .fb{
	padding-top: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

	

}

@media only screen and (max-width:320px){
	
		.footer-bottom{height: 100%;}
}